@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body{
  background:#111;
  background-image: url("https://i.gifer.com/8WbS.gif");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
p{
 color: white;
 text-align: center;
 font-size: x-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  background: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: greenyellow;
  border-radius: 25px;
}

.google{
    position: absolute;
    top: 7px;
    right: 16px;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    margin: 4px 2px;
    background: transparent;
    border: none;
    color: white;
}

.get-started{
  float: none;
  position: absolute;
  top: 70%;
  left: 5%;
}

#js{
  border-radius: 20px;
  background: blue;
  font-size: 15px;
  color: white;
  border: none;
}

h1{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
  position: fixed;
  top: 52%;
  left: 5%;
  font-family: 'IBM Plex Serif', serif;
}

h3{
  color: rgb(255, 255, 255);
  font-size: x-large;
  text-align: center;
  position: fixed;
  top: 60%;
  left: 5%;
  font-family: 'IBM Plex Serif', serif;
}

#h-button{
  background: white;
  color: black;
  border-radius: 50%;
  text-align: center;
}

div.help{
  bottom: 10px;
  position: fixed;
  left: 95%;
}

#load{
  border-radius: 20px;
  background: transparent;
  font-size: 15px;
  color: white;
  border: none; 
}

h2{
  color: white;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
